<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Employee</title>
</head>
<body>
    <h2>Employee</h2>
    <hr>

    <form action="#" th:action="@{/employees/save}" th:object="${employee}" method="POST">

        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{firstName}" placeholder="First Name"/>
        <br>
        <input type="text" th:field="*{lastName}" placeholder="Last Name"/>
        <br>
        <input type="text" th:field="*{email}" placeholder="Email"/>
        <br>
        <button type="submit">Save</button>

    </form>

    <a th:href="@{/employees/list}">Back To List</a>
</body>
</html>